<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div th:fragment="chart(data, name)">
    <canvas th:id="|${name}_|"></canvas>
    <script th:inline="javascript">
        data = /*[[${data}]]*/ [];
        name = /*[[${name}]]*/ []
        today = new Date()
        console.log(today)
        today.setDate(today.getDate() - 16)
        days = Array.from({length: data.length}, (_, i) => {
                today.setDate(today.getDate() - 1)
                return today.toDateString().split(' ').slice(1, 3).join(' ')
            }
        ).reverse();
        new Chart(name+"_", {
            type: "line",
            data: {
                labels: days,
                datasets: [{
                    label: name,
                    cubicInterpolationMode: 'monotone',
                    backgroundColor: "rgb(115,0,255)",
                    borderColor: "rgba(132,0,255,0.1)",
                    data: data,
                }]
            },
            options: {}
        });
    </script>
</div>
</body>
</html>