<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div th:fragment="chart(wealth, rating)">
    <canvas id="chart" style="width:100%;"></canvas>
    <script th:inline="javascript">
        const wealth = /*[[${wealth}]]*/ [];
        today = new Date()
        console.log(today)
        today.setDate(today.getDate()-16)
        const days = Array.from({length: wealth.length}, (_, i) => {
                today.setDate(today.getDate()-1)
                return today.toDateString()
            }
        ).reverse();
        new Chart("chart", {
            type: "line",
            data: {
                labels: days,
                datasets: [{
                    label: "wealth",
                    cubicInterpolationMode: 'monotone',
                    backgroundColor: "rgb(115,0,255)",
                    borderColor: "rgba(132,0,255,0.1)",
                    data: wealth,
                }]
            },
            options: {}
        });
    </script>
</div>
</body>
</html>