<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShiroForbes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
</head>
<body>

<div class="grid">
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8">
        <div th:insert="~{components/header :: header(user)}"></div>
        <main class="responsive">

            <div th:fragment="preview(event)" class="s12 grid">
                <div class="s1"></div>
                <article class="border small-round s10">
                    <!--/*@thymesVar id="event" type="ru.shiroforbes.model.Event"*/-->
                    <h6 th:text="${event.name}"></h6>
                    <p>Время/место: <span th:text="${event.timeAndPlace}"></span></p>
                </article>
                <div class="s1"></div>
            </div>

            <!--/*@thymesVar id="event" type="ru.shiroforbes.model.Event"*/-->
            <div th:fragment="event(event)" class="s12">
                <h2 th:text="${event.name}"></h2>
                <div class="small-divider"></div>
                <h6>Время/место:</h6>
                <p th:text="${event.timeAndPlace}"></p>
                <div class="small-divider"></div>
                <h6>Описание:</h6>
                <div th:utext="${event.description}"></div>
            </div>

        </main>
    </div>
    <div class="s0 m1 l2"></div>
</div>


</body>
</html>