<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShiroForbes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
</head>

<body>
<div th:fragment="header(user)">
    <header class="fixed fill small-round">
        <nav class="grid">
            <button class="circle transparent right s2">
                <i>menu</i>
                <menu class="right no-wrap small-round">
                    <a href="/grobarium">Гробарий</a>
                    <a href="/series">Серии</a>
                    <a href="/lz">Летнее задание</a>
                    <a th:if="${!user.equals(0) && user.HasAdminRights}" href="/event">Создать новое мероприятие</a>
                    <a th:if="${!user.equals(0) && user.HasAdminRights}" href="/update/rating">Опубликовать рейтинг</a>

                </menu>
            </button>
            <div class="center s8" th:insert="~{components/logo :: logo()}"></div>

            <div class="s2 right-align">
                <div th:if="${!user.equals(0)}">
                    <a th:href="|/profile/${user.login}|">
                        <img th:src="|/static/images/${user.login}.jpg|" class="circle">
                    </a>
                </div>

                <div th:unless="${!user.equals(0)}">
                    <a class="circle transparent horizontal" href="/login">
                        <span>Войти</span>
                        <i>login</i>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <br>
</div>
</body>

</html>