<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShiroForbes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
</head>

<body>
<div th:fragment="logo()">
    <link href="/static/styles/font-logo.css" rel="stylesheet">
    <h2 class="center" style="font-family: 'Publico Headline Web',serif; width: fit-content; margin-top: 0;
    -webkit-text-stroke: 1.5px black;">
        <span style="color: #3F68AF">Shiro</span>
        <span style="color: #EA6132">Forbes</span>
    </h2>
</div>
</body>

</html>