<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShiroForbes</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"
            type="module"></script>
</head>

<body>
<div class="grid" th:fragment="rating(students)">

    <h2 class="s12 center-align middle">Рейтинг</h2>

    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8">
        <table class="stripes">
            <thead>
            <tr>
                <th>Место</th>
                <th class="max">Шировласик</th>
                <th class="right-align">Задачи</th>
                <th class="right-align">Рейтинг</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, j: ${students}">
                <td>
                    <span th:text="${student.newRank}"></span>
                    <i style="color: green" th:if="${student.newRank < student.oldRank}">arrow_drop_up</i>
                    <span style="color: green"
                          th:if="${student.newRank < student.oldRank}"
                          th:utext="|(+${student.oldRank - student.newRank})|"></span>
                    <i style="color: red" th:if="${student.newRank > student.oldRank}">arrow_drop_down</i>
                    <span style="color: red"
                          th:if="${student.newRank > student.oldRank}"
                          th:text="|(${student.oldRank - student.newRank})|"></span>
                    <i style="color: gray" th:if="${student.newRank == student.oldRank}">remove</i>
                    <span style="color: gray" th:if="${student.newRank == student.oldRank}">(0)</span>
                </td>
                <td><a th:href="|/profile/${student.login}|" th:text="${student.name}"></a></td>
                <td class="right-align">
                    <span th:text="${student.solved}"></span>
                    <span style="color: green" th:if="${student.solvedDelta > 0}"
                          th:text="|(+${student.solvedDelta})|"></span>
                    <span style="color: red" th:if="${student.solvedDelta < 0}"
                          th:text="|(${student.solvedDelta})|"></span>
                    <span style="color: gray" th:if="${student.solvedDelta == 0}">(+0)</span>
                </td>
                <td class="right-align">
                    <span th:text="${student.rating}"></span>
                    <span style="color: green" th:if="${student.ratingDelta > 0}"
                          th:text="|(+${student.ratingDelta})|"></span>
                    <span style="color: red" th:if="${student.ratingDelta < 0}"
                          th:text="|(${student.ratingDelta})|"></span>
                    <span style="color: gray" th:if="${student.ratingDelta == 0}">(+0)</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="s0 m1 l2"></div>
</div>
</body>

</html>