<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShiroForbes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
</head>

<body>
<div class="grid" th:fragment="rating(students)">

    <h2 class="s12 center-align middle">Рейтинг</h2>

    <div class="s3"></div>
    <nav class="no-space center-align middle-align s6">
        <button type="submit" onclick="window.open('/download/urban/rating.pdf')" id="ratingDownloadButton">
            <span>Рейтинг</span>
            <i class="responsive">description</i>
        </button>
    </nav>
    <div class="s3"></div>
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8">
        <table class="stripes">
            <thead>
            <tr>
                <th class="min">№</th>
                <th class="max">Name</th>
                <th class="right-align">Rating</th>
                <th class="right-align">Wealth</th>
                <th class="right-align"><i>functions</i></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, j: ${students}">
                <td th:text="${j.index+1}"></td>
                <td ><a th:href="|profile/${student.login}|" th:text="${student.name}"></a></td>
                <td class="right-align" th:text="${student.rating}"></td>
                <td class="right-align" th:text="${student.wealth}"></td>
                <td class="right-align" th:text="${student.rating + student.wealth}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="s0 m1 l2"></div>
</div>
</body>

</html>