<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShiroForbes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
</head>

<body>
<div class="grid" th:fragment="rating(students)">

    <h2 class="s12 center-align middle">Изменение рейтинга</h2>

    <div class="s0 m1 l1"></div>
    <div class="s12 m10 l10">
        <table class="stripes">
            <thead>
            <tr>
                <th>Место</th>
                <th class="max">Шировласик</th>
                <th class="right-align">Задачи</th>
                <th class="right-align">Рейтинг</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, j: ${students}">
                <td>
                    <span th:text="${student.newRank}"></span>
                    <i th:if="${student.newRank < student.oldRank}" style="color: green">arrow_drop_up</i>
                    <span th:if="${student.newRank < student.oldRank}"
                          th:utext="|(+${student.oldRank - student.newRank})|" style="color: green"></span>
                    <i th:if="${student.newRank > student.oldRank}" style="color: red">arrow_drop_down</i>
                    <span th:if="${student.newRank > student.oldRank}"
                          th:text="|(${student.oldRank - student.newRank})|" style="color: red"></span>
                    <i th:if="${student.newRank == student.oldRank}" style="color: gray">remove</i>
                    <span th:if="${student.newRank == student.oldRank}" style="color: gray">(0)</span>
                </td>
                <td th:text="${student.name}"></td>
                <td class="right-align">
                    <span th:text="${student.solved}"></span>
                    <span th:if="${student.solvedDelta > 0}" th:text="|(+${student.solvedDelta})|"
                          style="color: green"></span>
                    <span th:if="${student.solvedDelta < 0}" th:text="|(${student.solvedDelta})|"
                          style="color: red"></span>
                    <span th:if="${student.solvedDelta == 0}" style="color: gray">(+0)</span>
                </td>
                <td class="right-align">
                    <span th:text="${student.rating}"></span>
                    <span th:if="${student.ratingDelta > 0}" th:text="|(+${student.ratingDelta})|"
                          style="color: green"></span>
                    <span th:if="${student.ratingDelta < 0}" th:text="|(${student.ratingDelta})|"
                          style="color: red"></span>
                    <span th:if="${student.ratingDelta == 0}" style="color: gray">(+0)</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="s0 m1 l1"></div>
</div>
</body>

</html>