<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShiroForbes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
</head>

<body>
<div class="grid" th:fragment="history(transactions, nameNeeded)">
    <div class="s0 m0 l1"></div>
    <div class="s12 m12 l10">
        <h2 class="s12 center-align">История транзакций</h2>
        <table class="stripes">
            <thead>
            <tr>
                <th th:if="${nameNeeded}" class="min center-align"></th>
                <th class="min center-align">Время</th>
                <th class="min center-align">Дата</th>
                <th th:if="${nameNeeded}" class="min center-align">Имя</th>
                <th class="min center-align">ZLT</th>
                <th class="max center-align">Название</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="transactions" type="kotlin.collections.List<ru.shiroforbes.web.TransactionUtil>"*/-->
            <tr th:each="transaction, j: ${transactions}">
                <td th:if="${nameNeeded}">
                    <button class="circle remove-button fill">
                        <i>remove</i>
                        <span hidden="hidden" th:text="${transaction.id}"></span>
                    </button>
                </td>
                <td th:text="${transaction.time}"></td>
                <td th:text="${transaction.date}"></td>
                <td th:if="${nameNeeded}" class="center-align" th:text="${transaction.student.name}"></td>
                <td class="center-align">
                    <span th:if="${transaction.size > 0}" th:text="|(+${transaction.size})|"
                          style="color: green"></span>
                    <span th:if="${transaction.size < 0}" th:text="|(${transaction.size})|"
                          style="color: red"></span>
                </td>
                <td th:text="${transaction.description}"
                    style="text-wrap: pretty;"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="s0 m0 l1"></div>
</div>
</body>

</html>