.icon-overleaf {
    -webkit-mask: url("assets/images/overleaf-o-logo-white.png") no-repeat center;
    mask: url("assets/images/overleaf-o-logo-white.png") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--on-surface-variant);
    height: 100%;
    width: 100%;
}
