<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiroForbes</title>

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
</head>
<body>
<div class="grid">
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8 grid">
        <div class="s12" th:insert="~{components/header :: header(${user})}"></div>

        <h2 class="s12 center-align">Конструктор мероприятий</h2>

        <div class="s12 grid">
            <div class="s2 m3 l3"></div>
            <nav class="no-space center-align middle-align s8 m6 l6">
                <button id="countryside" class="border left-round max"
                        th:classappend="${user.equals(0) || user.group.text == 'Countryside'} ? 'fill'">
                    <i class="small">nature</i>
                    <span>Загородный лагерь</span>
                </button>
                <button id="urban" class="border right-round max"
                        th:classappend="${!user.equals(0) && user.group.text == 'Urban'} ? 'fill'">
                    <i class="small">home</i>
                    <span>Городской лагерь</span>
                </button>
            </nav>
            <div class="s2 m3 l3"></div>
        </div>

        <div class="s0 m1 l2"></div>
        <div class="s12 m10 l8">

            <form>
                <fieldset>
                    <legend>Заполните все поля</legend>
                    <div class="field border label tiny min">
                        <input id="eventName" name="eventName" required>
                        <label>Название</label>
                    </div>


                    <div class="field textarea label border large min" id="timeAndPlaceDiv">
                        <textarea name="timeAndPlace" required id="timeAndPlace"></textarea>
                        <label for="timeAndPlaceDiv">Время и место</label>
                    </div>

                    <div class="field textarea label border extra min" id="eventDescriptionDiv">
                        <textarea name="eventDescription" id="eventDescription" required></textarea>
                        <label for="eventDescriptionDiv">Описание</label>
                    </div>

                    <button class="large center" type="submit">Создать мероприятие</button>
                </fieldset>
            </form>
        </div>

        <div class="s0 m1 l2"></div>
    </div>
    <div class="s0 m1 l2"></div>
</div>
<script src="/static/scripts/switch_camps.js"></script>
<script src="static/scripts/event.js"></script>
</body>
</html>
