<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShiroForbes</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link href="/static/styles/styles.css" rel="stylesheet">
</head>
<body>
<div class="grid">
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8">
        <!--/*@thymesVar id="isLoggedIn" type="java.lang.Boolean"*/-->
        <div th:insert="~{components/header :: header(${user})}"></div>

        <br>

        <!--/*@thymesVar id="event" type="ru.shiroforbes.model.Event"*/-->
        <div class="grid" th:insert="~{components/event :: event(${event})}"></div>
    </div>
    <div class="s0 m1 l2"></div>
</div>
</body>
</html>