<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiroForbes</title>

    <link href="/static/modules/beer/beer.min.css" rel="stylesheet">
    <script type="module" src="/static/modules/beer/beer.min.js"></script>
    <script type="module" src="/static/modules/beer/material-dynamic-colors.min.js"></script>
</head>
<body>
<div class="grid">
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8 grid">
        <div class="s12" th:insert="~{components/header :: header(${user})}"></div>

        <div class="s0 m1 l2"></div>

        <div class="s12 m10 l8">
            <h2 class="center-align">Конструктор зарядки</h2>
            <div class="tabs">
                <a class="active" id="exercisesTab">
                    <i>exercise</i>
                    <span>Зарядка</span>
                </a>
                <a id="cleaningTab">
                    <i>vacuum</i>
                    <span>Уборка</span>
                </a>
                <a id="promenadeTab">
                    <i>nature</i>
                    <span>Прогулка</span>
                </a>
                <a id="curfewTab">
                    <i>bed</i>
                    <span>Отбой</span>
                </a>
            </div>
            <form>
                <fieldset>
                    <legend>Выберите участников</legend>
                    <div name="activityType" id="activityType" hidden>exercises</div>
                    <div th:insert="~{components/date_time :: date_time()}"></div>

                    <hr class="small">

                    <a href="" class="row">
                        <div class="max">
                            <h6 class="small">Шировласики</h6>
                        </div>
                        <span>Выбрать всех</span>
                        <label class="switch icon">
                            <input type="checkbox" id="switchAll">
                            <span>
                                <i>close</i>
                                <i>done</i>
                            </span>
                        </label>
                    </a>
                    <hr class="small">
                    <a class="row" th:each="student, j: ${students}">
                        <div class="max">
                            <h6 class="small" th:text="${student.name}"></h6>
                        </div>

                        <label class="switch icon">
                            <input type="checkbox" th:id="${student.id}" class="regularSwitch">
                            <span>
                                <i>close</i>
                                <i>done</i>
                            </span>
                        </label>
                    </a>

                    <button class="large center" type="submit" id="submitButton">
                        <span id="span">Начислить златы</span>
                        <progress class="circle" id="progress" style="display: none"></progress>
                    </button>
                </fieldset>
            </form>
        </div>

        <div class="s0 m1 l2"></div>
    </div>
    <div class="s0 m1 l2"></div>
</div>
<script src="/static/scripts/exercises.js"></script>
</body>
</html>
