<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShiroForbes</title>
    <link href="/static/modules/beer/beer.min.css" rel="stylesheet">
    <script type="module" src="/static/modules/beer/beer.min.js"></script>
    <script type="module" src="/static/modules/beer/material-dynamic-colors.min.js"></script>

    <script src="/static/modules/crypto-js/core.min.js"></script>
    <script src="/static/modules/crypto-js/sha256.js"></script>
    <link href="/static/styles/styles.css" rel="stylesheet">
</head>
<body>
<main class="responsive grid">
    <div class="s0 m1 l3"></div>
    <div class="s12 m10 l6">
        <div class="middle grid">
            <div class="s0 m1 l2"></div>

            <div class="s12 m10 l8">
                <form>
                    <div class="medium-space"></div>
                    <div class="center" th:insert="~{components/logo :: logo()}"></div>
                    <div class="medium-space"></div>
                    <div class="field label border">
                        <input name="login" id="login" type="text" required>
                        <label for="login">Login</label>
                    </div>
                    <div class="medium-space"></div>
                    <div class="field label border">
                        <input name="password" id="password" type="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="medium-space"></div>
                    <button class="extra round center" id="signIn" type="submit">
                        <span id="span">Sign In</span>
                        <progress class="circle" id="progress" style="display: none"></progress>
                    </button>
                    <div class="medium-space"></div>
                </form>
            </div>

            <div class="s0 m1 l2"></div>
        </div>
    </div>
    <div class="s0 m1 l3"></div>
</main>
<script src="/static/scripts/login.js"></script>
</body>
</html>