<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShiroForbes</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.8/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.8/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<div class="grid">
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8">
        <div th:insert="~{components/header :: header(${isLoggedIn})}"></div>


        <div th:insert="~{components/rating :: rating(${groups})}"></div>
    </div>
    <div class="s0 m1 l2"></div>
</div>
</body>
</html>