<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShiroForbes</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link href="/static/styles/styles.css" rel="stylesheet">
</head>
<body>
<div class="grid">
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8">
        <!--/*@thymesVar id="user" type="ru.shiroforbes.model.Admin"*/-->
        <div th:insert="~{components/header :: header(${user})}"></div>

        <div class="grid">
            <div class="s3"></div>
            <nav class="no-space center-align middle-align s6">
                <button id="countryside" class="border left-round max"
                        th:classappend="${user.group.text == 'Countryside'} ? 'fill'">
                    <i class="small">nature</i>
                    <span>Настоящий лагерь</span>
                </button>
                <button id="urban" class="border right-round max"
                        th:classappend="${user.group.text == 'Urban'} ? 'fill'">
                    <i class="small">home</i>
                    <span>Городской лагерь</span>
                </button>
            </nav>
            <div class="s3"></div>
        </div>

        <div id="countrysideContent"
             th:hidden="${user.group.text == 'Countryside'}"
             th:insert="~{menuContent :: menu(${countrysideCampEvents}, ${countrysideCampStudents})}">
        </div>

        <div id="urbanContent"
             th:hidden="${user.group.text == 'Urban'}"
             th:insert="~{menuContent :: menu(${urbanCampEvents}, ${urbanCampStudents})}">
        </div>
    </div>
    <div class="s0 m1 l2"></div>

    <script src="/static/scripts/menu.js"></script>
</div>
</body>
</html>