<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiroForbes</title>
    <link href="/static/styles/styles.css" rel="stylesheet">
    <link href="/static/modules/beer/beer.min.css" rel="stylesheet">
    <script type="module" src="/static/modules/beer/beer.min.js"></script>
    <script type="module" src="/static/modules/beer/material-dynamic-colors.min.js"></script>
    <link href="/static/styles/styles.css" rel="stylesheet">
</head>
<body>
<div th:if="${!activeUser.equals(0) && (user.login == activeUser.login || activeUser.HasAdminRights)}">
    <div th:insert="~{components/header :: header(${activeUser})}"></div>
</div>
<div class="grid">
    <div class="s0 l2"></div>
    <!--/*@thymesVar id="user" type="ru.shiroforbes.database.StudentStat"*/-->
    <div class="s12 l8 center-align"
         th:unless="${!activeUser.equals(0) && (user.login == activeUser.login || activeUser.HasAdminRights)}">
        <img alt="Pusheen.png" src="/static/images/pusheen.png" style="width: 80%">
        <h5>Это не Ваш профиль и Вам сюда нельзя((</h5>
        <br>
        <h5>Если Вы думаете, что это ошибка - <a href="/login" style="color: #0d47a1; border-bottom: #0d47a1 1px solid">перезайдите
            на сайт</a></h5>
    </div>
    <div class="s12 l8"
         th:if="${!activeUser.equals(0) && (user.login == activeUser.login || activeUser.HasAdminRights)}">
        <main class="responsive grid">
            <div class="s12">
                <br>
                <h4 id="name" class="bold center-align" th:text="${user.name}"></h4>
                <br>
                <div class="grid">
                    <article class="s12 round amber239 middle-align"
                             th:unless="${user.ratings[0].position * 2 > numberOfPeople}">
                        <div class="row" style="column-gap: 0; width: 85%;">
                            <button class="circle amber239 large"><i class="large">Trophy</i></button>
                            <div class="max center center-align row">
                                <p class="bold" th:text="|Место: |"></p>
                                <p th:text="|${user.ratings[0].position}|"></p>
                            </div>
                        </div>
                    </article>
                    <article class="s12 round purple239 middle-align" th:unless="${user.ratings[0].grobs == 0}">
                        <div class="row" style="column-gap: 0; width: 85%;">
                            <button class="circle purple239 large"><i class="large">Skull</i></button>
                            <div class="max center center-align row">
                                <p class="bold" th:text="|Гробы: |"></p>
                                <p th:text="|${user.ratings[0].grobs}|"></p>
                            </div>
                        </div>
                    </article>
                    <article class="s12 m6 l4 round pink239 middle-align">
                        <div class="row" style="column-gap: 0; width: 85%;">
                            <button class="circle pink239 large"><i class="large">functions</i></button>
                            <div class="max center center-align">
                                <span class="bold" th:text="|Задачи: |"></span>
                                <span style="white-space: nowrap"
                                      th:text="|${user.ratings[0].total} (${user.ratings[0].totalPercent}%)|"></span>
                            </div>
                        </div>
                    </article>
                    <article class="s12 m6 l4 round blue239 middle-align">
                        <div class="row" style="column-gap: 0; width: 85%;">
                            <button class="circle blue239 large"><i class="large">function</i></button>
                            <div class="max center center-align">
                                <span class="bold" th:text="|Алгебра: |"></span>
                                <span style="white-space: nowrap"
                                      th:text="|${user.ratings[0].algebra} (${user.ratings[0].algebraPercent}%)|"></span>
                            </div>
                        </div>
                    </article>
                    <article class="s12 m6 l4 round orange239 middle-align">
                        <div class="row" style="column-gap: 0; width: 85%;">
                            <button class="circle orange239 large"><i class="large">calculate</i></button>
                            <div class="max center center-align">
                                <span class="bold" th:text="|Теория чисел: |"></span>
                                <span style="white-space: nowrap"
                                      th:text="|${user.ratings[0].numbersTheory} (${user.ratings[0].numbersTheoryPercent}%)|"></span>
                            </div>
                        </div>
                    </article>
                    <article class="s12 m6 l4 round deep-orange239 middle-align">
                        <div class="row" style="column-gap: 0; width: 85%;">
                            <button class="circle deep-orange239 large"><i class="large">playing_cards</i></button>
                            <div class="max center center-align">
                                <span class="bold" th:text="|Комбинаторика: |" style="word-break: break-all;"></span>
                                <span style="white-space: nowrap"
                                      th:text="|${user.ratings[0].combinatorics} (${user.ratings[0].combinatoricsPercent}%)|"></span>
                            </div>
                        </div>
                    </article>
                    <article class="s12 m6 l4 round green239 middle-align">
                        <div class="row" style="column-gap: 0; width: 85%;">
                            <button class="circle green239 large"><i class="large">architecture</i></button>
                            <div class="max center center-align">
                                <span class="bold" th:text="|Геометрия: |" style="word-break: break-all;"></span>
                                <span style="white-space: nowrap"
                                      th:text="|${user.ratings[0].geometry} (${user.ratings[0].geometryPercent}%)|"></span>
                            </div>
                        </div>
                    </article>
                </div>
                <br>
                <div class="grid">
                    <div th:each="achievement : ${achievements}" class="s4 m3 l2">
                        <div th:insert="~{components/achievement :: achievement(${user.icon}, ${user.title}, ${user.description})}"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="s0 m1 l2"></div>
</div>

</body>

</html>
