<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ShiroForbes</title>
    <link href="/static/styles/styles.css" rel="stylesheet">
    <link href="/static/modules/beer/beer.min.css" rel="stylesheet">
    <script src="/static/modules/beer/beer.min.js" type="module"></script>
    <script src="/static/modules/beer/material-dynamic-colors.min.js" type="module"></script>
    <link href="/static/styles/styles.css" rel="stylesheet">
    <link href="/static/styles/snow.css" rel="stylesheet">
</head>
<body id="main">
<div>
    <div th:insert="~{components/header :: header(${activeUser})}"></div>
</div>
<div class="grid">

    <main class="responsive grid" >
        <div class="s12">
            <h4 class="bold center-align" id="name" th:text="${user.name}"></h4>
            <br>

            <div class="s12 grid">
                <div class="s2 m3 l3"></div>
                <nav class="no-space center-align middle-align s8 m6 l6">
                    <button class="border left-round max fill" id="semester2Button">
                        <span>Второе полугодие</span>
                    </button>
                    <button class="border right-round max" id="semesters12Button"   >
                        <span>Весь год</span>
                    </button>
                </nav>
                <div class="s2 m3 l3"></div>
            </div>
            <br>

            <div class="s0 l2"></div>
            <div class="s12 l8" id="semester2Content"
                 th:insert="~{components/profileStats :: profileStats(${user},${ratings2},${numberOfPeople})}"></div>
            <div class="s12 l8" id="semesters12Content" hidden="hidden"
                 th:insert="~{components/profileStats :: profileStats(${user},${ratings12},${numberOfPeople})}"></div>
            <div class="s0 l2"></div>

            <br>
            <div class="grid">
                <div class="s4 m3 l2" th:each="achievement : ${achievements}">
                    <div
                        th:insert="~{components/achievement :: achievement(${user.icon}, ${user.title}, ${user.description})}"></div>
                </div>
            </div>
        </div>
    </main>


</div>

</body>
<script src="/static/scripts/switch_semester.js"></script>
<script src="/static/scripts/snowflakes.js"></script>
</html>
