<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShiroForbes</title>


    <link href="/static/modules/beer/beer.min.css" rel="stylesheet">
    <script type="module" src="/static/modules/beer/beer.min.js"></script>
    <script type="module" src="/static/modules/beer/material-dynamic-colors.min.js"></script>
    <link href="/static/styles/styles.css" rel="stylesheet">
    <script src="/static/modules/chart/chart.js"></script>

</head>
<body>
<div class="grid">
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8" th:if="${!activeUser.equals(0) && (user.equals(activeUser) || activeUser.HasAdminRights)}">
        <div th:insert="~{components/header :: header(${activeUser})}"></div>
        <main class="responsive grid">
            <div class="s12">
                <br>
                <h5 id="name" class="bold center-align" th:text="${user.name}"></h5>
                <br>
                <article class="border grid">
                    <h6 class="large-text s3" style="margin-top: 10%" th:text="|Решено: ${user.totalSolved}|"></h6>
                    <h6 class="large-text s3" style="margin-top: 10%; color: #EA6132" th:text="|Алгебра: ${user.algebraSolved}|"></h6>
                    <h6 class="large-text s3" style="margin-top: 10%; color: green" th:text="|Геометрия: ${user.geometrySolved}|"></h6>
                    <h6 class="large-text s3" style="margin-top: 10%; color: #3F68AF" th:text="|Комбинаторика: ${user.combinatoricsSolved}|"></h6>
                    <h6 class="large-text s3" style="margin-top: 10%" th:text="|Решено: ${percentSolved}|"></h6>
                    <h6 class="large-text s3" style="margin-top: 10%; color: #EA6132" th:text="|Алгебра: ${percentSolved}|"></h6>
                    <h6 class="large-text s3" style="margin-top: 10%; color: green" th:text="|Геометрия: ${percentSolved}|"></h6>
                    <h6 class="large-text s3" style="margin-top: 10%; color: #3F68AF" th:text="|Комбинаторика: ${percentSolved}|"></h6>
                </article>
                <br>
            </div>

            <div class="s12" th:if="${false}">
                <div class="tabs">
                    <a class="active" id="ratingChartSelector">
                        <i>trophy</i>
                        <span>Рейтинг</span>
                    </a>
                </div>
                <div th:insert="~{components/chart :: chart(${rating}, 'rating')}" id="ratingChart"></div>
            </div>
        </main>
    </div>
    <div class="s12 m10 l8"
         th:unless="${!activeUser.equals(0) && (user.equals(activeUser) || activeUser.HasAdminRights)}">
        <br>
        <h2 style="color: red; -webkit-text-stroke: 1px black;">Кажется, у <span style="color: black; font-weight: bold">В</span><span
                style="font-weight: bold">ас</span> недостаточно прав для просмотра этой страницы</h2>
    </div>
    <div class="s0 m1 l2"></div>
</div>

</body>
</html>