<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shiroforbes</title>
    <link rel="stylesheet" href="/static/ratingStyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.8/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.8/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
</head>

<body>
<div class="grid">

    <h2 class="s12 center-align middle">Рейтинг</h2>

    <div class="s3"></div>
    <nav class="no-space center-align middle-align s6">
        <button id="countryside" class="border left-round max fill">
            <i class="small">nature</i>
            <span>Настоящий лагерь</span>
        </button>
        <button id="urban" class="border right-round max">
            <i class="small">home</i>
            <span>Городской лагерь</span>
        </button>
    </nav>
    <div class="s3"></div>


    <table class="s12" id="countrysideTable">
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Wealth</th>
        </tr>
        <tr th:each="student, i: ${groups[0].students}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.rating}"></td>
            <td th:text="${student.wealth}"></td>
        </tr>
    </table>

    <table class="s12" hidden id="urbanTable">
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Wealth</th>
        </tr>
        <tr th:each="student, j: ${groups[1].students}">
            <td th:text="${j.index+1}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.rating}"></td>
            <td th:text="${student.wealth}"></td>
        </tr>
    </table>
    <script src="/static/rating.js"></script>
</div>
</body>

</html>