<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shiroforbes</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div style="display:grid;">

    <h3>
        <a href="" style="color: rgb(208, 135, 0);">City Camp</a>
        <a href="" style="color: rgb(14, 14, 128);">Regular Camp</a>
    </h3>

    <h2>Rating</h2>

    <table>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Wealth</th>
        </tr>
        <tr th:each="user, i: ${allUsers}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.rating}"></td>
            <td th:text="${user.wealth}"></td>
        </tr>
    </table>

</div>
</body>

</html>