<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShiroForbes</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.12/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link href="/static/styles/styles.css" rel="stylesheet">
</head>
<body>
<div class="grid">
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8">
        <!--/*@thymesVar id="isLoggedIn" type="java.lang.Boolean"*/-->
        <div th:insert="~{components/header :: header(${user})}"></div>

        <div class="grid">
            <div class="s2 m3 l3"></div>
            <nav class="no-space center-align middle-align s8 m6 l6">
                <button id="countryside" class="border left-round max"
                        th:classappend="${user.equals(0) || user.group.text == 'Countryside'} ? 'fill'">
                    <i class="small">nature</i>
                    <span>Загородный лагерь</span>
                </button>
                <button id="urban" class="border right-round max"
                        th:classappend="${!user.equals(0) && user.group.text == 'Urban'} ? 'fill'">
                    <i class="small">home</i>
                    <span>Городской лагерь</span>
                </button>
            </nav>
            <div class="s2 m3 l3"></div>
        </div>

        <main class="responsive">
            <div id="countrysideContent"
                 th:hidden="${!user.equals(0) && user.group.text != 'Countryside'}"
                 th:insert="~{components/rating_diff :: rating(${countrysideStudents})}">
            </div>

            <div id="urbanContent"
                 th:hidden="${user.equals(0) || user.group.text != 'Urban'}"
                 th:insert="~{components/rating_diff :: rating(${urbanStudents})}">
            </div>

            <form>
                <button class="extra round center" id="publishButton" type="submit">
                    <span id="span">Опубликовать</span>
                    <progress class="circle" id="progress" style="display: none"></progress>
                </button>
            </form>
        </main>
    </div>
    <div class="s0 m1 l2"></div>
</div>
<script src="/static/scripts/switch_camps.js"></script>
<script src="/static/scripts/update_rating.js"></script>
</body>
</html>