<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShiroForbes</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/modules/beer/beer.min.css" rel="stylesheet">
    <script type="module" src="/static/modules/beer/beer.min.js"></script>
    <script type="module" src="/static/modules/beer/material-dynamic-colors.min.js"></script>
    <link href="/static/styles/styles.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="isLoggedIn" type="java.lang.Boolean"*/-->
<div th:insert="~{components/header :: header(${user})}"></div>
<div class="grid">
    <div class="s0 m1 l2"></div>
    <div class="s12 m10 l8">
        <div class="grid">
            <div class="s2 m3 l3"></div>
            <nav class="no-space center-align middle-align s8 m6 l6">
                <button id="countryside" class="border left-round max"
                        th:classappend="${user.equals(0)} ? 'fill'">
                    <i class="small">nature</i>
                    <span>16:00/17:00</span>
                </button>
                <button id="urban" class="border right-round max"
                        th:classappend="${!user.equals(0)} ? 'fill'">
                    <i class="small">home</i>
                    <span>18:00</span>
                </button>
            </nav>
            <div class="s2 m3 l3"></div>
        </div>

        <main class="responsive">
            <div id="countrysideContent"
                 th:hidden="${!user.equals(0)}">
                <div th:insert="~{components/rating_diff :: rating(${countrysideStudents})}"></div>
                <form id="countrysideForm">
                    <button class="extra round center" id="countrysidePublishButton" type="submit">
                        <span id="countrysideSpan">Опубликовать</span>
                        <progress class="circle" id="countrysideProgress" style="display: none"></progress>
                    </button>
                </form>
            </div>

            <div id="urbanContent"
                 th:hidden="${user.equals(0)}">
                <div th:insert="~{components/rating_diff :: rating(${urbanStudents})}"></div>
                <form id="urbanForm">
                    <button class="extra round center" id="urbanPublishButton" type="submit">
                        <span id="urbanSpan">Опубликовать</span>
                        <progress class="circle" id="urbanProgress" style="display: none"></progress>
                    </button>
                </form>
            </div>
        </main>
    </div>
    <div class="s0 m1 l2"></div>
</div>
<script src="/static/scripts/switch_camps.js"></script>
<script src="/static/scripts/update_rating.js"></script>
</body>
</html>